$font-primary: (
	font-family: (
		AcuminPro,
		serif
	),
	load: true,
	weights: (
		'Regular': 300,
		'Bold': 500
	),
	path: '~/fonts',
	files: (
		'woff2',
		'ttf',
		'eot'
	),
	use: (
		'p',
		'body'
	),
	types: (
		'normal',
		'italic'
	)
);

$primary-font-family: AcuminPro, serif;

$font-secondary: (
	font-family: (
		AcuminProItalic,
		serif
	),
	load: true,
	weights: (
		'Bold': 500,
		'Regular': 300,
	),
	path: '~/fonts',
	files: (
		'woff',
		'woff2',
		'ttf',
		'eot'
	),
	use: (
		'h2',
		'h3',
		'h4',
		'h5',
		'h6'
	),
	types: (
		'normal'
	)
);

$secondary-font-family: AcuminProItalic, serif;


$font-tertiary: (
	font-family: (
		StellaWilson,
		serif
	),
	load: true,
	weights: (
		'Regular': 400,
	),
	path: '~/fonts',
	files: (
		'woff',
		'woff2',
		'ttf',
		'eot'
	),
	use: (
		'h1',
	),
	types: (
		'normal'
	)
);

$tertiary-font-family: AcuminProItalic, serif;